@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
    color: #FFFF;
}

 .dropdown-content {
    display: none;
  }
  
  .dropdown-content.show {
    display: block;
    padding: 16px, 4px, 16px, 4px;
  }

 .topic-item{
    padding-top:16px;
    padding-right: 4px;
    padding-bottom: 16px;
    padding-left:4px;
    border-top: 1px;
    border-bottom:1px;
    border-style: solid;
    border-color: #DEE0E8;
    
 }
 @media screen and (min-width:280px) and (max-width:360px){
    .main-container {
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
      }
  
      .heading-container{
          font-size: 30px;
      }
  
      .subheading-container{
          font-size: 20px;
          width:325px;
          line-height: 24px;
      }
  
      .text-container {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 8px;
        padding-left: 0px;
        padding-top: 8px;
        order: 2;
      }
  
      .list_items ul {
          width: 325px;
      }
      .list_items img{
          width: 14px;
          height: 14px;
      }
      .topic-item{
          width: 100%;
      }
      .dropdown-button > svg{
          width: 14px;
          height: 14px;
      }
      .img-container {
        width: 100%;
        order: 1;
        font-size: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
      }
      .img-container img{
          width: 359px;
          height: 355px;
      }
 }

 @media screen and (min-width: 375px) and (max-width:802px){
    .main-container {
      flex-direction: column;
      margin-left: 5px;
    }

    .heading-container{
        font-size: 32px;
    }

    .subheading-container{
        font-size: 20px;
        width:359px;
        line-height: 24px;
    }

    .text-container {
      width: 100%;
      padding-right: 0px;
      padding-bottom: 8px;
      padding-left: 0px;
      padding-top: 8px;
      order: 2;
    }

    .list_items ul {
        width: 359px;
    }
    .list_items img{
        width: 12px;
        height: 12px;
    }
    .topic-item{
        width: 100%;
    }
    .dropdown-button > svg{
        width: 14px;
        height: 14px;
    }
    .img-container {
      width: 100%;
      order: 1;
      font-size: 0px;
      padding-bottom: 8px;
      padding-top: 8px;
    }
    .img-container img{
        width: 359px;
        height: 360px;
    }
    
  }
  
  @media screen and (min-width:540px) and (max-width:767px){
    .subheading-container{
        width: 516px;
    }
    .list_items ul {
        width: 516px;
    }

    .topic-item{
        width: 100%;
    }
    
    .img-container {
        width: 100%;
        order: 1;
        font-size: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
      }

      .img-container img{
          width: 516px;
          height: 517px;
      }
  }

  @media screen and (min-width:768px) and (max-width:812px){
    .subheading-container{
        width: 735px;
    }

    .list_items ul {
        width: 735px;
        font-size: 18px;
    }

    .topic-item{
        width: 100%;
        font-size: 20px;
    }

    .innertopicText-container{
        font-size: 18px;
    }
    
    .img-container {
        width: 100%;
        order: 1;
        font-size: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
      }

      .img-container img{
          width: 735px;
          height: 736px;
      }
  }

  @media screen and (min-width:820px)and (orientation: portrait){
    .main-container {
        flex-direction: column;
        margin-left: 5px;
      }
  
      .heading-container{
        font-size: 40px;
      }
      .subheading-container{
        width: 780px;
        font-size: 24px;
    }

      .text-container {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 8px;
        padding-left: 0px;
        padding-top: 8px;
        order: 2;
      }
    
    .list_items ul {
        width: 780px;
        font-size: 20px;
    }
    .list_items img{
        width: 16px;
        height: 16px;
    }

    .topic-item{
        width: 100%;
        font-size: 20px;
    }
    
    .dropdown-button > svg{
        width: 18px;
        height: 18px;
    }
    .innertopicText-container{
        font-size: 20px;
    }
    
    .img-container {
        width: 100%;
        order: 1;
        font-size: 0px;
        padding-bottom: 8px;
        padding-top: 8px;
      }

      .img-container img{
          width: 785px;
          height: 786px;
      }

  }

  @media screen and (min-width:912px){
    .topic-item{
        width:100%;
    }
  }
  @media screen and (min-width:1024px) and ((orientation: portrait)) {
    
    .subheading-container{
        font-weight: 500;
    }
    .list_items ul {
        width: 950px;
        font-size: 24px;
    }
    .list_items img{
        width: 18px;
        height: 18px;
    }

    .topic-item{
        width: 950px;
        font-size: 24px;
    }
    
    .dropdown-button > svg{
        width: 20px;
        height: 20px;
    }
    .innertopicText-container{
        font-size: 24px;
    }

    .img-container img{
          width: 550px;
          height: 481px;
      }
  }

 @media screen and (min-width:1180px) and (max-width:1440px), (orientation: landscape) {
    .subheading-container{
        width: 450px;
    }
    .text-container {
        width: 50%;
        padding-right: 0px;
        padding-bottom: 8px;
        padding-left: 0px;
        padding-top: 8px;
      }
    
    .list_items ul {
        width: 450px;
        font-size: 16px;
    }
    .list_items img{
        width: 18px;
        height: 18px;
    }

    .topic-item{
        width: 450px;
        font-size: 16px;
    }
    
    .dropdown-button > svg{
        width: 16px;
        height: 16px;
    }
    .innertopicText-container{
        font-size: 16px;
    }
    .img-container {
        width: 50%;
        padding-bottom: 8px;
        padding-top: 8px;
        float: left;
      }
    .img-container img{
        margin-top: 100px;
          width: 501px;
          height: 420px;
      }
  }

  
  @media screen and (min-width:1140px){
    .main-container{
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .heading-container{
        font-size: 42px;
        padding-top: 20px;
    }
    .subheading-container{
        width: 615px;
        font-size: 24px;
        font-weight: 500;
    }
    .text-container {
        width: 50%;
        padding-right: 0px;
        padding-bottom: 8px;
        padding-left: 0px;
        padding-top: 8px;
      }
    
    .list_items ul {
        width: 615px;
        font-size: 20px;
    }
    .list_items img{
        width: 20px;
        height: 20px;
    }

    .topic-item{
        width: 615px;
        font-size: 20px;
    }
    
    .innertopicText-container{
        font-size: 18px;
    }
    .img-container {
        width: 50%;
        padding-bottom: 8px;
        padding-top: 8px;
        float: left;
      }
    .img-container img{
        margin-top: 10px;
        width: 620px;
        height: 621px;
      }
  }
    
 